@font-face {
  font-family: 'PPMori';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./font/PPMori-SemiBold.otf') format('opentype');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039; 
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./font/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039; 
}
@font-face {
  font-family: 'AbrilFatface';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./font/AbrilFatface-Regular.ttf')  format('truetype');;
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039; 
}

/*about*/
[data-theme='about'] .App {position: relative;}
[data-theme='about'] .App::before {
		bottom: 0;
    content: "";
		height: 100%;
    position: absolute;
    display: block;
    left: 0;
    opacity: .3;
    right: 0;
    top: 0;
    width: 100%;
		background-image: url('../assets/bg_about.png')
}
.about-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.about-wrap > div{
  z-index: 5;
  position: relative;
}
.about-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
}
.about-grid .grid-title {
  grid-column: 1 / 5;
	grid-row: 1 / 2;
  font-family: 'PPMoriMedium';
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
}
.about-grid > div:nth-child(2) {
  grid-column: 5 / 6;
	grid-row: 1 / 2;
}
.about-grid > div:nth-child(2) img {
  height: 100%;
}
.about-grid > div:nth-child(3) {
  grid-column: 1 / 5;
	grid-row: 2 / 4;
}
.about-grid > div:nth-child(4) {
  grid-column: 5 / 8;
	grid-row: 2 / 4;
}
.bracket {
  padding: 3rem;
  font-family: 'SpoqaRegular';
  display: flex;
  align-items: center;
}
.about-grid > div:nth-child(4) span {
  font-size: 2rem;
  margin: 0 2rem;
}
.bracket-right {
  transform: rotate(180deg);
}
.about-grid > div:nth-child(5) {
  grid-column: 1 / 5;
	grid-row: 4 / 5;
  display: flex;
  align-items: center;
  padding: 3rem;
  line-height: 1.5rem;
  font-family: 'SpoqaLight';
  text-align: justify;
}
.about-grid > div:nth-child(6) {
  grid-column: 5 / 7;
	grid-row: 4 / 5;
}
.about-grid .icon-svg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.about-grid .icon-svg li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.about-grid .icon-svg li:nth-of-type(2){
  text-align: right;
  justify-content: flex-end;
  padding-right: 2rem;
}
.about-grid .last {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--system-white)
}
.grid-box {
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.about-marquee {
  margin: 10rem 0;
  overflow: hidden;
}
.about-marquee p {
  display: flex;
  gap: 0.5rem;
}
.about-marquee p span{
  display: inline-block;
  white-space: nowrap;
  font-size: var(--font-size-lg);
  font-family: 'LibreFranklin';
}
.about-marquee p:nth-of-type(1){
  position: relative;
  left : -2rem;
  margin-bottom: 1rem;
}
.about-marquee p:nth-of-type(2){
  position: relative;
  left : -18rem;
}
.about-marquee p span {
  border-radius: 1rem;
  padding: 0 1rem;
}
.about-marquee p:nth-of-type(1) span:nth-of-type(2){background-color: var(--system-orang);}
.about-marquee p:nth-of-type(2) span:nth-of-type(2){background-color: var(--system-purple);}
.about-marquee p:nth-of-type(2) span:nth-of-type(3){background-color: var(--system-blue);}

/* about-grid2 공통*/
.about-grid2 {
  height: 100%;
  max-height: 700px;
  display: grid;
  grid-column-gap: 0.52rem;
  grid-row-gap: 0.52rem;
  grid-template-rows: 1px 2rem 1px 1fr;
  grid-template-columns: 25% 1px 60% 1px 15%;
  grid-auto-columns: 1fr;
}
.about-grid2 .horizontal,
.about-grid2 .vertical {
  background-color: var(--system-white);
}
.about-grid2 .horizontal:nth-of-type(1){grid-area: 1/1/2/2;}
.about-grid2 .horizontal:nth-of-type(2){grid-area: 1/3/2/4;}
.about-grid2 .horizontal:nth-of-type(3){grid-area: 1/5/2/6;}
.about-grid2 .title {
  grid-area: 2/1/3/2;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.about-grid2 .horizontal:nth-of-type(4){grid-area: 3/1/4/2;}
.about-grid2 .content {grid-area: 4/1/5/2;}

.about-grid2 .bg-img{
  grid-area: 2/3/5/4;
  background: url('../assets/bg_dots.png');
  background-size: 100%;
}
.about-grid2 .img2{grid-area: 2/5/5/6;}
.about-grid2 .vertical{grid-area: 2/2/3/3;} 
.about-grid2 .vertical.v1{grid-area: 4/2/5/3;} 
.about-grid2 .vertical.v2{grid-area: 2/4/5/5;} 
.about-grid2 .content {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  gap: 2rem;
}
.content .skill p{
  font-size: 3.5vw;
}
.content .icon { display: flex;}
.content .icon img{
  width: 3rem;
}
.content .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
}
.content .list li img{
  width: 15px;
}
.content .description {
  text-align: justify;
  line-height: 1.25rem;
  font-size: var(--font-size-sm);
}

/*Web publishing*/
.publishing {overflow: hidden;}
.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
}
.settings::-webkit-scrollbar {
  width: 4px;
}
.range {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.range > div {
  display: flex;
  align-items: center;
}
.range label {margin-right: 1rem;}
.range select {
  border: none;
  background-color: #F4F0E6;
  border-radius: 4px;
  padding: 0.5rem;
  max-height: 33px;
}
.range-input {
  appearance: none;
  min-width: 100px;
  width: 100px;
  height: 4px;
  border-radius: 6px;
  background: var(--system-white);
  outline: none;
  padding: 0;
  margin: 0;
}
.range-input::-webkit-slider-thumb{
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--system-orang);
  cursor: pointer;
  transition: .15s ease-in-out;
}
.range-input::-moz-range-thumb  {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--system-orang);
  cursor: pointer;
  transition: .15s ease-in-out;
}
.range-input::-webkit-slider-thumb:hover,
.range-input:active::-webkit-slider-thumb{
  background: var(--system-purple);
}
.Spoqa {font-family: 'SpoqaHanSansNeo';}
.AbrilFatface {font-family: 'AbrilFatface';}
.LibreFranklin {font-family: 'LibreFranklin';}
.PPMori {font-family: 'PPMoriMedium'; font-weight:bold;}

.align-right {text-align: right;}
.range-value {
  font-size: 5rem;
}
.settings .text {
  font-family: 'PPMoriRegular';
  color: #F4F0E6;
  text-align: justify;
}
.picker {
  width: 100px;
  height: 33px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.picker::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}
.img2 { padding: 2rem 1rem;}
.img2 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img2 li {
  width: 60px;
  height: 60px;
  background-color: var(--system-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/*SPA Framework*/
.framework {
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 15% 1px 55% 1px 30%;
  grid-template-rows: 1px 3rem 1px 1fr;
}
.framework .img2 {grid-area: 2/1/5/2; padding: 2rem 1.5rem;}
.framework .img2 ul {align-items: flex-end;}
.framework .content {grid-area: 4/5/5/6;}
.framework .horizontal:nth-of-type(4) {grid-area: 3/5/4/6;}
.framework .title { 
  grid-area: 2/5/3/6; 
  padding: 0.52rem 1rem;
}
.framework .vertical { grid-area: 2/4/3/5; }
.framework .vertical.v1 {grid-area: 2/2/5/3;}
.framework .vertical.v2 {grid-area: 4/4/5/5;}
.framework .settings .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.framework .settings .container .item {
  position: absolute;
  cursor: grab;
  border: 4px solid var(--system-green);
}
.framework .settings .container .item-1 {
  width: 70%;
  height: 300px;
  border-radius: 0.5rem;
  left: 2rem;
  top: 2rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25rem;
}
.item-1 > div {
  background-color: var(--system-white);
}
.item-1 > div:nth-of-type(1){
  width: 100%;
  height: 20%;
}
.item-1 > div:nth-of-type(2){
  width: 100%;
  height: 50%;
}
.item-1 > div:nth-of-type(3){
  width: calc(70% - 0.25rem);
  height: 30%;
}
.item-1 > div:nth-of-type(4){
  width: 30%;
  height: 30%;
}
.framework .settings .container .item-2 {
  width: 40%;
  height: fit-content;
  border-radius: 0.5rem;
  right: 5%;
  bottom: 5%;
  background-color: var(--system-white);
}
.item-2 ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.item-2 ul li {
  width: 100%;
  height: 33.33%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.item-2 ul li > div:nth-of-type(1) {
  width: 50px;
  height: 50px;
  background-color: var(--system-green);
  border-radius: 50%;
}
.item-2 ul li p {
  background-color: var(--system-green);
  height: 12px;
  border-radius: 4px;
}
/*design*/
.design {
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1px 3rem 1px 1fr;
  grid-template-columns: 40% 1px 60% 1px;
  max-height: 730px;
}
.design .horizontal:nth-of-type(3) {
  grid-area: 3/1/4/2;
}
.design .horizontal:nth-of-type(4) {
  grid-area: 5/1/6/4;
  height: 1px;
}
.design .settings .settings-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.settings-box > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.settings-box .title {
  padding: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.settings-box .subTitle {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-family: 'PPMoriRegular';
} 

.settings-box .wrap {
  display: flex;
  gap: 1rem;
}
.settings-box .controls {width: 55%;}
.settings-box .navigation {width: 45%;}
.settings-box .input {width: 45%;}
.settings-box .typography {width: 55%;}
.settings-box .color {width: 100%;}
.settings-box .wrap ul li label { cursor: pointer;}
.settings-box .wrap ul li label > span {
  font-family: 'PPMoriRegular';
  font-size: var(--font-size-sm);
}
.settings-box .controls ul { 
  position: relative; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.settings-box .controls ul li { 
  z-index: 1;
  display: flex;
  align-items: center;
}
.settings-box .controls ul::before {
  content: '';
  position: absolute;
  width: calc(2rem + 20px);
  height: 100%;
  border: 1px dashed var(--system-white);
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}

input:disabled {
  cursor: not-allowed;
}
/*checkbox*/
input.checkbox{
  display:none;
}
input.checkbox + label{
  cursor:pointer;
}
input.checkbox + label > span,
input.disabled + label > span{
  vertical-align: middle;
  padding-left: 1.5rem;
  font-family: 'PPMoriRegular';
}
input.disabled + label > span {opacity: 0.7;}
input.checkbox + label:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  border:2px solid var(--system-white);
  background-color: var(--system-white);
  border-radius: 4px;
  vertical-align:middle;
}
input.checkbox:checked + label:before{
  content:"";
  background-color: var(--system-orang);
  border-color:var(--system-white);
  background-image: url('../assets/check.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  }
input.disabled:disabled{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  border:2px solid var(--system-white);
  background-color: #666;
  border-radius: 4px;
  vertical-align:middle;
  cursor: not-allowed;
}
input.disabled:disabled + label {cursor: not-allowed !important;}
/*radio*/
input.radio[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid var(--system-white);
  background-color: var(--system-white);
  border-radius: 50%;
  position: relative;
}
input.radio[type="radio"]:checked::before {
  content:"";
  display: block;
  background-color: var(--system-orang);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input.radio[type="radio"]:disabled {
  cursor: not-allowed;
}
input.radio + label > span {
  vertical-align: middle;
  padding-left: 1.5rem;
}
/*Switch*/
.settings-box .controls .list:nth-of-type(3) ul::before {
  width: calc(2rem + 40px);
}
.switch span {padding-left: 1.5rem;}
.switch label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.switch input[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid var(--system-white);
  background-color: var(--system-white);
  border-radius: 1.25em;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0.9);
  background-color: var(--system-orang);
  transition: left 250ms linear;
  top: 50%;
  transform: translateY(-50%);
}
.switch input[type="checkbox"]:checked {
  background-color: var(--system-orang);
  border-color: var(--system-orang);
}
.switch input[type="checkbox"]:checked::before {
  background-color: var(--system-white);
  left: 19px;
}
.switch input[type="checkbox"]:disabled {
  border-color: #666;
  background-color: #666;
  opacity: 0.7;
  cursor: not-allowed;
}
.switch input[type="checkbox"]:disabled:before {
  border-color: blue;
}
.switch input[type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
.switch input[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid tomato;
}
/* .switch input[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) blue;
} */
/*Navigation*/
.navigation .wrap {gap: 2rem;}
.navigation .pagination-wrap ul, .slider-wrap ul{
  display: flex;
}
.navigation .pagination-wrap li {
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .pagination-wrap li a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
.navigation .pagination-wrap li:nth-of-type(2) a{
  background-color: var(--system-orang);
}
.arrow-right { transform: rotate(180deg);}
.navigation .pagination-wrap, .slider-wrap {
  display: flex;
  flex-direction: column;
  gap : 1rem;
}
.navigation .slider-wrap ul {gap :1rem;}
.navigation .slider-wrap li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
}
.navigation .slider-wrap li:nth-of-type(1) {
  background-color: rgba(255,255,255, 0.5);
}
.navigation .slider-wrap li:nth-of-type(2){
  background-color: var(--system-orang);
}
.navigation .slider-wrap .slider-style {gap:0.5rem;}
.navigation .slider-wrap .slider-style li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.5);
}
.navigation .slider-wrap .slider-style li.active {
  width: 40px;
  border-radius: 6px;
  background-color: var(--system-orang);
}
/*Input*/
.settings-box .input ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.settings-box .input ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.settings-box .input ul li > span {
  font-size: 0.85rem;
  width: 100px;
  font-family: 'PPMoriRegular';
}
.settings-box .input ul li > div {
  display: flex;
  flex-direction: column;
}
.settings-box .input ul li > div span {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
  font-family: 'PPMoriRegular';
}
.settings-box .input ul li .text-field {
  height: 38px;
  min-width: 250px;
  border-radius: 4px;
  border: none;
  padding: 0 0.85rem;
  outline: none;
  border: 2px solid var(--system-white);
}
.settings-box .input ul li label { cursor: Default;}
.settings-box .input ul li .text-field:hover {
  border: 2px solid var(--system-orang);
}
.hover .text-field {
  border: 2px solid var(--system-orang) !important;
}
.hover .text-field:focus {
  border: 1px solid var(--system-orang) !important;
  box-shadow: inset 0 0 0 1px var(--system-orang);
}
.settings-box .input ul li .disabled label {cursor: not-allowed;}
.settings-box .input ul li .disabled .text-field{border: none;}
/*Typography*/
.settings-box .typography ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settings-box .typography ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.settings-box .typography ul li span:nth-of-type(1) {
  font-size: 0.85rem;
  font-family: 'PPMoriRegular';
}
.settings-box .typography ul li span:nth-of-type(2) {
  font-size: 2rem;
}
.typography div {width: 100%;}
/*color*/
.color .wrap .list{width: 100%;}
.settings-box .color ul {
  width: 100%;
  height: 50px;
  display: flex;
}
.settings-box .color ul li {
  width: calc(100% / 6);
  height: 100%;
}
.settings-box .color ul li:nth-of-type(1) { background-color: #222222;}
.settings-box .color ul li:nth-of-type(2) { background-color: #666666;}
.settings-box .color ul li:nth-of-type(3) { background-color: #BBBBBB;}
.settings-box .color ul li:nth-of-type(4) { background-color: #CCCCCC;}
.settings-box .color ul li:nth-of-type(5) { background-color: #F2F2F2;}
.settings-box .color ul li:nth-of-type(6) { background-color: #FBFBFB;}

.resume {
  height: 100%;
  overflow: hidden;
}
.resume > span {
  width: 100%;
  height: 100%;
  font-size: 23vw;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0.3;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.box {
  position: relative;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  border: 1px solid var(--system-white);
  font-size: 5vmin;
  font-weight: bold;
  box-shadow: 1px 10px 10px -4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}


@media screen and (max-width:1440px)  { 
  .about-grid > div:nth-child(2) {
    grid-column: 5 / 7;
  }
  .about-grid .icon-svg li {
    width: 100%;
  }
  .about-grid .icon-svg li img {
    max-width: 164px;
    width: calc((100% / 4) - ( 3rem / 4));
    height: auto;
  }
  .about-grid > div:nth-child(4) span {
    font-size: 1.5rem;
  }
  .range { flex-wrap: wrap; gap: 1rem;}
  .range-value {font-size: 3rem;}
  .settings-box > div{ width: 100% !important;}
  .settings-box .controls ul li {white-space: nowrap;}
}
@media screen and (max-width:1024px) {
  .framework .settings .container .item-1 {width: 80%;}
  .framework .settings .container .item-2 {width: 60%;}
  .img2 li { 
    max-width: 50px;
    max-height: 50px;
  }
  .range-value:last-of-type {margin-bottom: 3rem;}
}

@media all and (max-width:768px) { 
  .about-grid > div:nth-child(2) {
    grid-column: 5 / 8;
  }
  .about-grid > div:nth-child(6) {
    grid-column: 5 / 8;
  }
  .about-grid2 .content { padding: 1rem ;}
  .img2 li img {
    width: 50%;
    height: auto;
  }
} 

@media all and  (max-width:767px) {
  .about-wrap {
    height: fit-content;
  }
  .about-grid {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
  }
  .about-grid > div {
    grid-column: 1 / 2 !important;
  }
  .about-grid .grid-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .about-grid > div:nth-child(2) {
    grid-row: 2 / 3;
  }
  .about-grid > div:nth-child(3) {
    grid-row: 3 / 4;
  }
  .about-grid > div:nth-child(4) {
    grid-row: 4/ 5;
  }
  .about-grid > div:nth-child(5) {
    grid-row: 5/ 6;
    height: max-content;
  }
  .about-grid > div:nth-child(6) {
    grid-row: 6/ 7;
  }
}