.main-canvas {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.main-canvas > canvas {
  position: absolute;
  background: transparent !important;
}
