
.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.projects-card {
  width: calc(25% - 2rem);
  background-color: pink;
  margin-bottom: 2rem;
}

.projects-img {
  height: 250px;
}
