.projects {
  color: var(--text-color);
}
.projects-title {
  padding: 6rem 0;
  font-family: 'LibreFranklin-Black';
  font-size: var(--font-size-lg);
}
.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.projects-card {
  width: calc(25% - 2rem);
  margin-bottom: 2rem;
  color: #222;
}
.projects-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 36px 36px 0 0;
  overflow: hidden;
}
.projects-img img {
  width: 100%;
  position: relative;
  top: -1px;
}
.projects-desc {
  border-radius: 0 0 36px 36px;
  padding: 2rem;
}
.projects-desc > p {
  margin-bottom: 1rem;
}
.projects-desc .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.card-desc {
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
}
.card-tag span{
  display: inline-block;
  font-size: var(--font-size-sm);
  border: 1px solid #222;
  margin-right: 0.5rem;
  padding: 0.125rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
}
.card-link {
  display: flex;
  gap: 0.5rem;
}
.card-link a{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.75rem 0.75rem 1.75rem;
  border-radius: 99rem;
  background: #222;
  transition: all 0.2s ease;
  color: var(--text-color);
}
.card-link a:after{
  content: '→';
  display: flex;
  width: 0rem;
  height: 0.8rem;
  position: relative;
  transition: all 0.2s 0.2s ease;
  margin-left: 0rem;
  opacity: 0;
}
.card-link a:hover:after {
  width: 0.8rem;
  margin-left: 0.5rem;
  opacity: 1;
}
.card-link a.card-link-blog:after {
  content: '회고록';
  white-space:nowrap;
  font-size: var(--font-size-sm);
}
.card-link a.card-link-blog:hover:after {
  width: 2rem;
}
.projects-card:hover > div {
  border-radius: 3.5rem;
  transition: all 0.2s 0.2s ease-in-out;
}
.projects-card:hover .projects-img img {
  transform: scale(1.2);
  transition: all 0.2s 0.2s ease-in-out;
}

.projects-card:nth-child(1) .projects-img,
.projects-card:nth-child(1) .projects-desc {
  background-color: #AA81B7;
}
.projects-card:nth-child(2) .projects-img,
.projects-card:nth-child(2) .projects-desc {
  background-color: #007AFF;
}
.projects-card:nth-child(3) .projects-img,
.projects-card:nth-child(3) .projects-desc {
  background-color: #46B779;
}
.projects-card:nth-child(4) .projects-img,
.projects-card:nth-child(4) .projects-desc {
  background-color: #FFF24E;
}

@media screen and (max-width:1440px)  { 
  .projects-card { width: calc(50% - 1rem); }
}

@media all and (min-width:768px) and (max-width:1023px) { 
  .projects-card { width: calc(100%); }
  .projects-title { padding: 3rem 0; }
} 

@media all and (min-width:480px) and (max-width:767px) {
  .projects-card { width: calc(100%); }
  .projects-title { padding: 3rem 0; }
}

@media all and (max-width:479px) {
  .projects-card { width: calc(100%); }
  .projects-title { padding: 3rem 0;}
  .projects-desc { padding: 1rem;}
  .projects-img { height: 200px; }
  .projects-desc > p { margin-bottom: 0.75rem; }
  .projects-desc .card-title { margin-bottom: 1rem; }
  .card-link a { padding: 0.5rem 1rem; font-size: 0.75rem; }
  .card-link a:after {display: none;}
}

@media all and (max-width:320px) {
  .nav .nav-right {display: none;}
  .projects-desc .card-title {
    font-size: 1rem;
  }
}