/* Theme var */
:root {
  --main-bg: #F4F0E6;
  --text-color: #FF3B00;
  --system-orang:#FF3B00;
  --system-white:#F4F0E6;
  --system-black: #222;
  --system-blue: #004DB3;
  --system-purple: #AA81B7;
  --font-size-lg: 8rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
}

/* Main */
[data-theme='main'] {
  --main-bg: #F4F0E6;
  --text-color: #FF3B00;
}
/* about */
[data-theme='about'] {
  --main-bg: #5A7F43;
  --text-color: #F4F0E6;
}
/* projects */
[data-theme='projects'] {
  --main-bg: #1A1A1A;
  --text-color: #F4F0E6;
}
/* contact */
[data-theme='contact'] {
  --main-bg: #004DB3;
  --text-color: #F4F0E6;
  ::selection {
    background-color: var(--system-orang);
  }
}

@media screen and (max-width:1440px)  { 
  :root {
    --font-size-lg: 5rem;
  }
}
@media screen and (max-width:768px)  { 
  :root {
    --font-size-lg: 4rem;
  }
}
@media screen and (max-width:320px)  { 
  :root {
    --font-size-lg: 3rem;
  }
}