/* Theme var */
:root {
  --main-bg: #F4F0E6;
  --text-color: #FF3B00;
  --system-white:#F4F0E6;
}

/* Main */
[data-theme='main'] {
  --main-bg: #F4F0E6;
  --text-color: #FF3B00;
}
/* about */
[data-theme='about'] {
  --main-bg: #5A7F43;
  --text-color: #F4F0E6;
}
/* projects */
[data-theme='projects'] {
  --main-bg: #1A1A1A;
  --text-color: #F4F0E6;
}
/* contact */
[data-theme='contact'] {
  --main-bg: #004DB3;
  --text-color: #F4F0E6;
}