/* Theme var */

/* Main */
:root {
  --main-bg: #F4F0E6;
}

/* about */
[data-theme='about'] {
  --main-bg: #5A7F43;
}

/* projects */
[data-theme='projects'] {
  --main-bg: #1A1A1A;
}

/* contact */
[data-theme='contact'] {
  --main-bg: #004DB3;
}