.nav {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
}
.nav .nav-left {
  display: flex;
  gap: 6.25rem;
}
.nav .menu {
  display: flex;
  align-items: center;
  gap: 6rem;
}
section {
  height: calc(100vh - 4.375rem);
  padding: 0 3.5rem;
}
